.ServicePrice{
  height: 450px;
  margin-top: 10px;
}
.ServicePriceHeading h1{
    font-family: Space Grotesk;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: center;     
}

.ServicePriceHeading p{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
      
}
.PriceCard{
    width: 300px;
    height: 300px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    
}
.PriceCard:hover{
    transform: translateY(-10px);
    transition: 0.8s ease all;
    border: 1px solid #220cec79;
    box-shadow: -4px -4px rgba(0, 0, 256, 256);
    overlay: 5px -5px rgba(0, 0, 0, 128);
    color: rgb(252, 214, 252);
}

.CardHed{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    
}
.CardPrice{
    font-family: Space Grotesk;
    font-size: 58px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    
}


.CardTitl{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;    
}
.CardTitleTex{
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    
}
.GetStartedButton{
    width: 180px;
    height:40px;
    margin-top: 20px;
    margin-left: 420px;
    border-radius: 3px 0px 0px 0px;
    opacity: 0px;
    background-color: #EF4444;
}

.GetStartedButton:hover{
  transform: translateY(-2px);
  transition: 1s ease all;
  background-color: #67e7c7;
  color: white;
}